body{
    margin:0;
    font-family:'Press Start 2P', cursive;
    background:#05010a;
    color:#00fff2;
    overflow:hidden;
    }
    
    /* SCREENS */
    .screen{
    position:fixed;
    inset:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:black;
    gap:20px;
    }
    
    .hidden{display:none;}
    
    /* INPUT NOMBRE */
    #nameInput{
    padding:15px;
    font-size:16px;
    border:2px solid #00fff2;
    background:#111;
    color:#00fff2;
    text-align:center;
    border-radius:10px;
    outline:none;
    box-shadow:0 0 20px #00fff2;
    font-family:monospace;
    width:250px;
    }
    
    /* BOTONES */
    button{
    padding:12px 20px;
    background:#00fff2;
    color:black;
    border:none;
    cursor:pointer;
    border-radius:10px;
    font-weight:bold;
    box-shadow:0 0 20px #00fff2;
    transition:.3s;
    }
    
    button:hover{
    transform:scale(1.1);
    }
    
    /* GAME */
    #game{
    position:relative;
    }
    
    #box{
    width:60px;
    height:60px;
    background:#00fff2;
    position:absolute;
    border-radius:10px;
    box-shadow:0 0 20px #00fff2;
    cursor:pointer;
    }
    
    .hud{
    position:absolute;
    top:10px;
    left:10px;
    font-size:12px;
    }
    
    .skins{
    position:absolute;
    bottom:20px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    gap:10px;
    }
    
    canvas{
    position:fixed;
    inset:0;
    z-index:-1;
    }
    
    /* RANKING */
    ul{
    list-style:none;
    padding:0;
    }